<div class="col-lg-10 mx-auto mb-5">	
	<div class="card shadow">
		<h4 class="card-header text-center">Add Flight</h4>
		<div class="card-body">
			<%= render 'form', flight: @flight %>
		</div>
	</div>
</div>