<%= form_with(model: [ @hotel, @hotel_service ], local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.select :name, HotelService::HOTEL_SERVICE, {prompt: true}, {class: 'form-select mt-2 mb-2'} %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
