<%= form_with(model: [ @hotel, @facility ], local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.select :name, Facility::FACILITY, {prompt: true}, {class: 'form-select mt-2 mb-2'} %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
