<div class="col-lg-10 mx-auto mb-5">	
	<div class="card shadow">
		<h4 class="card-header text-center">Edit Tour</h4>
		<div class="card-body">
			<%= render 'form', tour: @tour %>
		</div>
	</div>
</div>