<div class="col-lg-10 mx-auto mt-5">
	<div class="card shadow rounded-0">
		<h3 class="card-header text-center">Edit Hotel</h3>
		<div class="card-body">
			<%= render 'form', hotel: @hotel %>
		</div>
	</div>
</div>